:root {
  --main-title-color: #212121;
  --text-secondary-color: #757575;
  --background-title-color: #ffffff;
  --background-secondary-color: #2f303a;
  --link-btn-color: #2196f3;
  --adress-collor: rgba(255, 255, 255, 0.6);
  --logo-color: #000000;
  --background-team: #f5f4fa;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

body {
  font-family: "Roboto", sans-serif;
  color: var(--main-title-color);
}

.link {
  text-decoration: none;
}

.list {
  list-style: none;
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  -webkit-clip-path: inset(50%);
          clip-path: inset(50%);
  margin: -1px;
}

.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-right: auto;
  margin-left: auto;
}

button {
  cursor: pointer;
}

ul {
  margin: 0;
  padding-left: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.header {
  border-bottom: 1px solid #ececec;
}
.header__container {
  display: flex;
}

.header__logo {
  margin-right: 93px;
  padding-top: 24px;
  padding-bottom: 25px;
}

.header__span {
  color: var(--logo-color);
}

.navigation {
  display: flex;
  margin-right: 318px;
  align-items: center;
}

.navigation__list {
  display: flex;
  -moz-column-gap: 50px;
       column-gap: 50px;
}

.navigation__item {
  position: relative;
}

.navigation__link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--main-title-color);
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
}
.navigation__link:hover, .navigation__link:focus {
  color: var(--link-btn-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.navigation__link.current::after {
  content: "";
  display: block;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: #2196f3;
  position: absolute;
  bottom: -2%;
}

.current {
  color: var(--link-btn-color);
}

.hero {
  background-color: var(--background-secondary-color);
  display: block;
  padding-top: 200px;
  padding-bottom: 200px;
  max-width: 1600px;
  margin-left: auto;
  margin-right: auto;
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../imges/Img.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.hero__title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--background-title-color);
  max-width: 696px;
  margin-left: auto;
  margin-right: auto;
}

.hero__button {
  margin-top: 30px;
}

.hero__btn {
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  cursor: pointer;
  color: var(--background-title-color);
  background-color: var(--link-btn-color);
  min-width: 216px;
  padding: 10px 32px 10px 32px;
  margin-left: auto;
  margin-right: auto;
  border: inherit;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}

.peculiarities {
  background-color: var(--background-title-color);
  padding-top: 94px;
  padding-bottom: 94px;
}

.peculiarities-list {
  display: flex;
  gap: 30px;
}

.peculiarities-item {
  max-width: 270px;
}

.thumb {
  width: 270px;
  height: 120px;
  border-radius: 4px;
  background-color: #f5f4fa;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
}

.peculiarities-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--main-title-color);
  margin-bottom: 10px;
}

.peculiarities-text {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--text-secondary-color);
}

.about {
  padding-bottom: 94px;
}

.about-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--main-title-color);
  margin-bottom: 50px;
}

.about-list {
  display: flex;
  justify-content: space-between;
}

.about-top {
  position: relative;
}

.about-top-text {
  position: absolute;
  width: 100%;
  height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
  background-color: rgba(47, 48, 58, 0.8);
  transform: translateY(-100%);
  overflow: auto;
}

.team {
  background-color: var(--background-team);
  padding-top: 94px;
  padding-bottom: 94px;
}

.team-item {
  background-color: var(--background-title-color);
  border: transparent;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.team-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--main-title-color);
  margin-bottom: 50px;
  min-width: 264px;
}

.team-list {
  display: flex;
  justify-content: space-between;
}

.item-title {
  padding-top: 30px;
  padding-bottom: 30px;
}

.team-item-title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--main-title-color);
  min-width: 129px;
  margin-bottom: 10px;
}

.team-item-profession {
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--text-secondary-color);
  min-width: 130px;
  margin-bottom: 16px;
}

.clients-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 50px;
}

.clients-list {
  display: flex;
  gap: 30px;
  justify-content: center;
}

.clients-item {
  width: auto;
  height: auto;
}

.clients-link {
  fill: #afb1b8;
  display: flex;
  width: 170px;
  height: 92px;
  justify-content: center;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  align-items: center;
}
.clients-link:hover, .clients-link:focus {
  fill: #2196f3;
  border-color: #2196f3;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1), border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer {
  background-color: var(--background-secondary-color);
  padding-top: 60px;
  padding-bottom: 60px;
  display: flex;
}

.footer__container {
  display: flex;
  align-items: baseline;
}

.address {
  margin-bottom: 9px;
  margin-top: 20px;
}

.footer__logo {
  margin-bottom: 20px;
}

.footer__span {
  color: var(--background-title-color);
}

.address__link {
  font-style: normal;
  display: block;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--background-title-color);
  max-width: 211px;
  margin-bottom: 9px;
}
.address__link:hover, .address__link:focus {
  color: var(--link-btn-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.address__item {
  margin-bottom: 9px;
}

.address__mail,
.address__tel {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--adress-collor);
}
.address__mail:hover, .address__mail:focus,
.address__tel:hover,
.address__tel:focus {
  color: var(--link-btn-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer__soc-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
  margin-bottom: 20px;
}

.footer__soc {
  display: block;
  justify-content: center;
  gap: 10px;
  align-items: center;
  margin-left: 70px;
}

.soc__link--bcg {
  background: rgba(255, 255, 255, 0.1);
}

.footer-soc-icon {
  fill: #ffffff;
}

.subscription {
  margin-left: auto;
}

.subscription__title {
  top: 0;
  left: 0;
  margin-bottom: 20px;
  height: auto;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
}

.subscription__form {
  display: flex;
  align-items: baseline;
}

.subscription__input {
  width: 358px;
  height: 50px;
  background-color: var(--background-secondary-color);
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  padding: 15px 16px;
  color: #ffffff;
}
.subscription__input:hover, .subscription__input:focus {
  border-color: #2196f3;
  outline-color: #2196f3;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1), outline-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.subscription__btn {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: #ffffff;
  background: #2196f3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border-color: transparent;
  padding: 10px 28px;
  width: auto;
  height: 50px;
  margin-left: 12px;
}

.subscription__icon {
  margin-left: 10px;
}

.filter__list {
  display: flex;
  -moz-column-gap: 8px;
       column-gap: 8px;
  justify-content: center;
  margin-bottom: 50px;
}

.filter__btn {
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--main-title-color);
  padding: 6px 22px;
  border: transparent;
  border-radius: 4px;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.filter__btn:hover, .filter__btn:focus {
  color: var(--background-title-color);
  background-color: var(--link-btn-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.filter__btn.current-button {
  color: var(--background-title-color);
  background-color: var(--link-btn-color);
}

.work-list {
  display: flex;
  flex-basis: calc((100% - 60px) / 3);
  flex-wrap: wrap;
  gap: 30px;
}

.works-item-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--main-title-color);
}

.works-item-text {
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.03em;
  color: var(--text-secondary-color);
}

.works-border {
  border-right: 1px solid #eeeeee;
  border-left: 1px solid #eeeeee;
  border-bottom: 1px solid #eeeeee;
  padding: 20px 24px 20px 24px;
}

.works-item-link {
  display: block;
}
.works-item-link:focus, .works-item-link:hover {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.works-item-link:hover .works-top-text, .works-item-link:focus .works-top-text {
  transform: translateY(0);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.works-top-wrap {
  position: relative;
  overflow: hidden;
}

.works-top-text {
  position: absolute;
  top: 0;
  left: 0;
  padding: 63px 24px;
  height: 100%;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  background-color: rgba(33, 150, 243, 0.9);
  color: #ffffff;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  overflow: auto;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}

.modal {
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 528px;
  height: 581px;
  padding: 40px 39px 40px 41px;
  background-color: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  transform: translate(-50%, -50%) scale(1) rotate(0);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(0) rotate(-180deg);
}

.modal-title {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  letter-spacing: 0.03em;
  color: #212121;
  text-align: center;
  margin-bottom: 12px;
}

.modal-form {
  position: relative;
  align-items: center;
  margin: 0;
}

.input-field {
  margin-bottom: 10px;
}
.input-field:last-child {
  margin-bottom: 0;
}

.input-wrap {
  position: relative;
  margin: 0;
  padding: 0;
}
.input-wrap:hover {
  fill: #2196f3;
  outline-color: #2196f3;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1), border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-input {
  width: 100%;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding-left: 42px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.form-input:hover, .form-input:focus {
  fill: #2196f3;
  outline-color: #2196f3;
  border-color: #2196f3;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1), border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.form-input:focus + .input-icon, .form-input:hover + .input-icon {
  fill: var(--link-btn-color);
}

.input-title {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: var(--text-secondary-color);
  display: block;
  margin-bottom: 4px;
}

.input-textarea {
  margin-bottom: 20px;
}

.coments-form {
  width: 100%;
  height: 120px;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  resize: none;
  display: block;
  padding: 12px 16px;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1), border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.coments-form:focus,
.coments-form:hover {
  fill: #2196f3;
  outline-color: #2196f3;
  border-color: #2196f3;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1), border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.agreement-text {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #757575;
  display: flex;
  align-items: center;
  margin-bottom: 30px;
  justify-content: center;
}
.agreement-text span {
  width: 16px;
  height: 15px;
  border: 2px solid #000000;
  border-radius: 3px;
  margin-right: 8.38px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.agreement-text .chek-icon {
  fill: transparent;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.input-chek:checked + .agreement-text span {
  background-color: var(--link-btn-color);
  border-color: var(--link-btn-color);
}
.input-chek:checked + .agreement-text .chek-icon {
  fill: #ffffff;
}
.input-chek:focus + .agreement-text span {
  border-color: var(--link-btn-color);
}

.chek-link {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--link-btn-color);
  margin-left: 5px;
}

.input-icon {
  position: absolute;
  left: 15px;
  top: 50%;
  transform: translateY(-50%);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1), border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-btn {
  display: block;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: #ffffff;
  background: #2196f3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border-color: transparent;
  padding: 10px 52px;
  height: 50px;
  margin: 0 auto;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.close {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 30px;
  width: 30px;
  background: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  right: 8px;
  top: 8px;
  padding: 0;
}
.close:hover, .close:focus {
  border-color: var(--link-btn-color);
  fill: #2196f3;
}

.contacts {
  display: flex;
  gap: 30px;
  align-items: center;
}

.contacts__link,
.contacts__tel {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--text-secondary-color);
  display: flex;
  align-items: center;
  padding-top: 32px;
  padding-bottom: 32px;
}
.contacts__link:hover, .contacts__link:focus,
.contacts__tel:hover,
.contacts__tel:focus {
  color: var(--link-btn-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contacts__icon {
  display: inline;
  margin-right: 10px;
  fill: currentColor;
}

.soc {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.soc__link {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  fill: #afb1b8;
}
.soc__link:hover, .soc__link:focus {
  fill: #ffffff;
  background-color: #2196f3;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.logo {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--link-btn-color);
}

.logo__span {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  max-width: 145px;
}/*# sourceMappingURL=main.css.map */