
.contacts {
  display: flex;
  gap: 30px;
  align-items: center;
}

.contacts__link,
.contacts__tel {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--text-secondary-color);
  display: flex;
  align-items: center;
  padding-top: 32px;
  padding-bottom: 32px;
  &:hover,
  &:focus {
    color: var(--link-btn-color);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
}

.contacts__icon {
  display: inline;
  margin-right: 10px;
  fill: currentColor;
}