.soc {
    display: flex;
    justify-content: center;
    gap: 10px;
  }
  
  .soc__link {
    width: 44px;
    height: 44px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    fill: #afb1b8;
    &:hover,
    &:focus {
      fill: #ffffff;
      background-color: #2196f3;
      transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1),
        background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }
  }