p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

body {
    font-family: "Roboto", sans-serif;
    color: var(--main-title-color);
  }
  
  .link {
    text-decoration: none;
  }
  
  .list {
    list-style: none;
  }
  .section {
    padding-top: 94px;
    padding-bottom: 94px;
  }
  
