:root {
    --main-title-color: #212121;
    --text-secondary-color: #757575;
    --background-title-color: #ffffff;
    --background-secondary-color: #2f303a;
    --link-btn-color: #2196f3;
    --adress-collor: rgba(255, 255, 255, 0.6);
    --logo-color: #000000;
    --background-team: #f5f4fa;
  }