.header {
  border-bottom: 1px solid #ececec;
  &__container {
    display: flex;
  }
}
.header__logo {
  margin-right: 93px;
  padding-top: 24px;
  padding-bottom: 25px;
}

.header__span {
  color: var(--logo-color);
}

.navigation {
  display: flex;
  margin-right: 318px;
  align-items: center;
}

.navigation__list {
  display: flex;
  column-gap: 50px;
}

.navigation__item {
  position: relative;
}

.navigation__link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--main-title-color);
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
  &:hover,
  &:focus {
    color: var(--link-btn-color);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  &.current::after {
    content: "";
    display: block;
    width: 100%;
    height: 4px;
    border-radius: 2px;
    background-color: #2196f3;
    position: absolute;
    bottom: -2%;
  }
}

.current {
  color: var(--link-btn-color);
}
