.peculiarities {
    background-color: var(--background-title-color);

  }
  
  .peculiarities-list {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
  }
  
  .thumb {
    width: 450px;
    height: 120px;
    border-radius: 4px;
    background-color: #f5f4fa;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
    @media screen and (min-width: 768px) {
      width: 354px;
    }
    @media screen and (min-width: 1200px) {
      width: 270px;
    }
  }

  .peculiarities-item {
    max-width: 100%;
    @media screen and (min-width: 768px) {
      width: calc((100% - 30px) / 2);
    }
    @media screen and (min-width: 1200px) {
      width: calc((100% - 90px) / 4);
    }
  }
  
  
  
  .peculiarities-title {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--main-title-color);
    margin-bottom: 10px;
    text-align: center;
    @media screen and (min-width: 768px) {
      text-align: left;
    }
  }
  
  .peculiarities-text {
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(--text-secondary-color);
  }