.work-list {
  display: flex;
  flex-basis: calc((100% - 60px) / 3);
  flex-wrap: wrap;
  gap: 30px;
}

.works-item-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--main-title-color);
}

.works-item-text {
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.03em;
  color: var(--text-secondary-color);
}

.works-border {
  border-right: 1px solid #eeeeee;
  border-left: 1px solid #eeeeee;
  border-bottom: 1px solid #eeeeee;
  padding: 20px 24px 20px 24px;
}

.works-item-link {
  display: block;
  &:focus,
  &:hover {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
      1px 4px 6px rgba(0, 0, 0, 0.16);
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  &:hover .works-top-text,
  &:focus .works-top-text {
      transform: translateY(0);
      transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }
  }

.works-top-wrap {
  position: relative;
  overflow: hidden;
}

.works-top-text {
  position: absolute;
  top: 0;
  left: 0;
  padding: 63px 24px;
  height: 100%;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  background-color: rgba(33, 150, 243, 0.9);
  color: #ffffff;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  overflow: auto;
}
